 header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}

header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  width: 70px;
  height: 60px;
  margin-right: 12px;
  border: 3px solid black;
}
.logo span {
  color: MediumAquamarine;
}
header .nav {
  display: block;
  align-content: space-around;
  padding-right: 30px;
}
.nav span {
color: Black;
cursor: pointer;
text-decoration: underline;
padding: 20px 10px;
}
body .container {
  display: flex;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  border: 1px solid black;
  justify-content: space-around;
}
.large-column {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 32px;
  border: 1px solid black;
}
.image-content {
  display: block;
  border: 1px solid black;
}
.monument {
  display: block;
  border: 1px solid black;
}
.orca {
  display: block;
  border: 1px solid black;
}
.fall {
  display: block;
  border: 1px solid black;
}
.burger {
  display: block;
  border: 1px solid black;
}
.cameras {
  display: block;
  border: 1px solid black;
}
.medium-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 32px;
  border: 1px solid black;
}
.fbi {
  display: block;
  border: 1px solid black;
}
.cats {
  display: block;
  border: 1px solid black;
}
.brooklyn {
  display: block;
  border: 1px solid black;
}
.small-column {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 32px;
  border: 1px solid black;
}
.cookie {
  display: block;
  border: 1px solid black;
}
.news-bites {
  display: block;
  border: 1px solid black;
}
