header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header .logo {
}

header .span {
  color: MediumAquamarine;
}

header .nav{
}

.nav span {
color: Black;
cursor: pointer;
text-decoration: underline;
}
